{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<div class="container">
    <h1>💰 Finanças</h1>

    <div class="saldo">
        Saldo: R$ {{ saldo|floatformat:2}}
    </div>

    <a href="/add/">+ Nova Transação</a>
    <a href="/zerar/" onclick="return confirm('Tem certeza?')" style="background: red;">
    Zerar Tudo
</a>

    <ul>
 {% for t in transacoes %}
        <li class="{% if t.tipo == 'R' %}receita{% else %}despesa{% endif %}">
            
            <span>{{ t.titulo }} - R$ {{ t.valor }}</span>

            <form method="post" action="{% url 'deletar' t.id %}">
                {% csrf_token %}
                <button class="btn-delete">X</button>
            </form>

        </li>
    {% endfor %}
</ul>

<a href="/exportar/" style="background: rgb(14, 68, 1);">Exportar</a>

    
</div>